body {
 background-color:darkviolet;
 color:blue;
 font-family:'Courier New', Courier, monospace
 margin: 0;
}

header {
    font-size: 60px;
    pading: 6px;
    text-align: center;
}

h1 {
 font-size:30px;
 border-bottom: double 5px orange;
 text-align: center;
}

p {
   font-size: 20px;
   text-align: center;
}

iframe, video {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
}